/BUILD_ROOT/
/BUILD/
SOURCES/26.1MC/.gradle/9.3.0/checksums/checksums.lock
SOURCES/26.1MC/.gradle/9.3.0/checksums/md5-checksums.bin
SOURCES/26.1MC/.gradle/9.3.0/checksums/sha1-checksums.bin
SOURCES/26.1MC/.gradle/9.3.0/fileChanges/last-build.bin
SOURCES/26.1MC/.gradle/9.3.0/fileHashes/fileHashes.lock
SOURCES/26.1MC/.gradle/9.3.0/gc.properties
SOURCES/26.1MC/.gradle/buildOutputCleanup/buildOutputCleanup.lock
SOURCES/26.1MC/.gradle/buildOutputCleanup/cache.properties
SOURCES/26.1MC/.gradle/vcs-1/gc.properties
