<?xml version="1.0" encoding="UTF-8"?>
<module name="featurecreep.hearts_of_iron_iv" xmlns="urn:jboss:module:1.9">
  <properties>
    <property name="FeatureCreep-Mod-Id" value="featurecreep-hearts-of-iron-iv"/>
    <property name="FeatureCreep-Name" value="FeatureCreep Hearts of Iron IV"/>
    <property name="FeatureCreep-Description" value="FeatureCreep 12 implementation for Hearts of Iron IV 1.19.3"/>
    <property name="FeatureCreep-Visibility" value="public"/>
    <property name="FeatureCreep-Auto-Dependencies" value="true"/>
    <property name="FeatureCreep-Host-Fallback" value="true"/>
    <property name="FeatureCreep-Side" value="both"/>
    <property name="FeatureCreep-Runnable" value="false"/>
    <property name="FeatureCreep-Nested-Jars" value="private"/>
    <property name="Module-Version" value="12"/>
    <property name="FeatureCreep-Target-Game" value="hearts-of-iron-iv"/>
    <property name="FeatureCreep-Target-Version" value="1.19.3"/>
  </properties>
  <resources>
    <resource-root path="."/>
  </resources>
</module>
